aiosmtplib==1.1.6
anyio==3.3.2
async-generator==1.10
certifi==2021.5.30
charset-normalizer==2.0.6
contextvars==2.4
h11==0.12.0
httpcore==0.13.7
httpx==0.19.0
idna==3.2
immutables==0.16
pyotp==2.6.0
python-dateutil==2.8.2
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
tornado==6.1
typing-extensions==3.10.0.2
